<!DOCTYPE html>
<html lang="fr">
<head>
    {% block header %}
        {% include 'admin/layout/header.html.twig' %}
    {% endblock %}
    {% block stylesheets %}
    {% endblock %}
</head>
<body class="hold-transition sidebar-mini layout-fixed {% block bodyClass %}{% endblock %}">
<div class="wrapper">
	 <!-- Navbar -->
	{% block nav %}
        {% include 'admin/layout/nav.html.twig' %}
    {% endblock %}
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    {% block aside %}
        {% include 'admin/layout/aside.html.twig' %}
    {% endblock %}
    <!-- / .main Sidebar Container -->

    <!-- Content Wrapper. Contains page content -->
     <div class="content-wrapper">
	    <!-- Content Header (Page header) -->
	    {% block wapper %}
		    {% include 'admin/layout/wapper.html.twig'  %}
		{% endblock %}
	    {% block content %}{% endblock %}
		<!-- /.content -->
  	</div>
  	<!-- /.content-wrapper -->

  	<!-- Footer -->
		{% include 'admin/layout/footer.html.twig' %}
	<!-- /.footer -->

	  <!-- Control Sidebar -->
	  <aside class="control-sidebar control-sidebar-dark">
	    <!-- Control sidebar content goes here -->
	  </aside>
	  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

{% block javascript %}
<!-- jQuery -->
<script src="{{ asset('adminlte/plugins/jquery/jquery.min.js') }}"></script>
<!-- jQuery UI 1.11.4 -->
<script src="{{ asset('adminlte/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->

<!-- Bootstrap 4 -->
<script src="{{ asset('adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- ChartJS -->
<script src="{{ asset('adminlte/plugins/chart.js/Chart.min.js') }}"></script>
<!-- Sparkline -->
<script src="{{ asset('adminlte/plugins/sparklines/sparkline.js') }}"></script>
<!-- JQVMap -->
<script src="{{ asset('adminlte/plugins/jqvmap/jquery.vmap.min.js') }}"></script>
<script src="{{ asset('adminlte/plugins/jqvmap/maps/jquery.vmap.usa.js') }}"></script>
<!-- jQuery Knob Chart -->
<script src="{{ asset('adminlte/plugins/jquery-knob/jquery.knob.min.js') }}"></script>
<!-- daterangepicker -->
<script src="{{ asset('adminlte/plugins/moment/moment.min.js') }}"></script>
<script src="{{ asset('adminlte/plugins/daterangepicker/daterangepicker.js') }}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="{{ asset('adminlte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js') }}"></script>
<!-- Summernote -->
<script src="{{ asset('adminlte/plugins/summernote/summernote-bs4.min.js') }}"></script>
<!-- overlayScrollbars -->
<script src="{{ asset('adminlte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ asset('adminlte/dist/js/adminlte.js') }}"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="{{ asset('adminlte/dist/js/pages/dashboard.js') }}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{ asset('adminlte/dist/js/demo.js') }}"></script>
{% endblock %}


</body>
</html>
